<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!--Test suite is created which will execute the test under it parallally -->
<suite name="WeatherShop" parallel="true">
<!--Suite level parameters can be defined here -->
  <parameter name="headless" value="true"/>
    <!-- ******************************************************************************* -->
    <test name="weatherShop-Chrome">
        <!--Test level parameters can be defined here -->  
        <parameter name="browser" value="chrome"></parameter>
        <!--Test Class which has test scrip can be defined here -->
        <classes>
            <class name="com.automation.test.ShopForSpecificSeasonalProductTest"/>
        </classes>
    </test>

    <!-- ******************************************************************************* -->
    <test name="weatherShop-edge">
        <!--Test level parameters can be defined here -->
        <parameter name="browser" value="edge"></parameter>
        <classes>
            <class name="com.automation.test.ShopForSpecificSeasonalProductTest"/>
        </classes>
    </test>
</suite>