<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!--Test suite is created which will execute the test under it parallally -->

<suite name="WeatherShop" parallel="tests" thread-count="3">
<!--Suite level parameters can be defined here -->

    <!-- ******************************************************************************* -->
    <test name="weatherShop-Chrome">
        <!--Test level parameters can be defined here -->
        <parameter name="browser" value="chrome"></parameter>
        <!--Test Class which has test scrip can be defined here -->
        <classes>
            <class name="com.automation.test.TC001_ShopForSpecificSeasonalProductTest"/>
        </classes>
    </test>

    <!-- ******************************************************************************* -->
    <test name="weatherShop-msedge">
        <!--Test level parameters can be defined here -->
        <parameter name="browser" value="msedge"></parameter>
        <classes>
            <class name="com.automation.test.TC001_ShopForSpecificSeasonalProductTest"/>
        </classes>
    </test>

    <!-- ******************************************************************************* -->
<!--    <test name="weatherShop-firefox">-->
<!--        &lt;!&ndash;Test level parameters can be defined here &ndash;&gt;-->
<!--        <parameter name="browser" value="firefox"></parameter>-->
<!--        <classes>-->
<!--            <class name="com.automation.test.TC001_ShopForSpecificSeasonalProductTest"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>
